##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<VirtualHost <%= @vhost_listen %> 127.0.0.1:80 [::1]:80 >
	ServerAdmin debian-admin@debian.org
	ServerName security-debug.backend.mirrors.debian.org
	<% if scope.function_onion_global_service_hostname(['security-debug.backend.mirrors.debian.org']) -%>
	ServerAlias <%= scope.function_onion_global_service_hostname(['security-debug.backend.mirrors.debian.org']) %>
	<% end %>
	<% if scope.function_onionv3_global_service_hostname(['security-debug.backend.mirrors.debian.org']) -%>
	ServerAlias <%= scope.function_onionv3_global_service_hostname(['security-debug.backend.mirrors.debian.org']) %>
	<% end %>
	ServerAlias security-debug.backend.mirrors.debian.org
	ServerAlias *.security-debug.backend.mirrors.debian.org

	RedirectMatch "^/$" /debian-security-debug/
	Alias /debian-security-debug <%= @archive_root %>
	Alias /_health /run/dsa-mirror-health-security-debug/health
	<Directory /run/dsa-mirror-health-security-debug/>
		Require all granted
	</Directory>

	ErrorLog /var/log/apache2/security-debug.backend.mirrors.debian.org-error.log
	CustomLog /var/log/apache2/security-debug.backend.mirrors.debian.org-access.log combined

	Use ftp-archive <%= @archive_root %>

	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>
</VirtualHost>
# vim:set syn=apache:
