<%- if %w{arm-arm-01}.include?(@hostname) then -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=ttyAMA0,115200n8"
<%- elsif %w{arm-arm-03}.include?(@hostname) then -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=ttyS0,115200"
<%- elsif %w{storace fasolo clementi czerny casulana sallinen wieck schumann mirror-anu pettersson-ng}.include?(@hostname) then -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=tty0 console=ttyS1,115200n8"
<% else -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=tty0 console=ttyS0,115200n8"
<%- end -%>
