##
### THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
### USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
###

<%=
  url        = [scope.lookupvar('url')  ].flatten
  suite      = [scope.lookupvar('suite')].flatten
  components = [scope.lookupvar('components')].flatten.join(' ')
  if @key then
    prefix="deb [signed-by=/etc/apt/puppet-keys.d/#{@name}.gpg]"
  else
    prefix="deb"
  end

  lines = []
  url.each do |u|
    suite.each do |s|
      lines << "#{prefix}	#{u}	#{s}	#{components}"
    end
  end
  lines.join("\n")
%>
